<h1 class="well">Check In </h1>
<div class="col-lg-12 well">
	<div class="row">
    <!-- Check in entry-->
    <form role="form">
    	<!-- Customer entry -->
    	<div class="col-sm-12">
    		<div class="row">
    		
		        <div class="col-sm-3 form-group">
		          <label for="txtFirstName">First Name</label>
		          <div class="input-group">
			          <input type="text" class="form-control" placeholder="Enter First Name Here.." id="txtFirstName" ng-model="value.customer.firstName">
			          <span class="input-group-btn"><button type="button" ng-click="value.searchCustomerByFirstName(value.customer.firstName)" 
			          class="btn btn-primary" data-toggle="modal" data-target="#modalCustomer">Search</button></span>        
		          </div>		          
		        </div>
		        
		        <div class="col-sm-3 form-group">
		          <label for="txtLastName">Last Name</label>
		          <div class="input-group">
			          <input type="text" class="form-control" id="txtLastName" placeholder="Enter Last Name Here.." ng-model="value.customer.lastName">
			          <span class="input-group-btn"><button type="button" ng-click="value.searchCustomerByFirstName(value.customer.lastName)" 
			          class="btn btn-primary" data-toggle="modal" data-target="#modalCustomer">Search</button></span>	          
		          </div>
		        </div>  
		        
		        <div class="col-sm-3 form-group">
		          <label for="txtContactNumber">Contact Number</label>
		          <div class="input-group">
			          <input type="text" class="form-control" id="txtContactNumber" placeholder="Enter Contact Number Here.." ng-model="value.customer.contactNumber">
			          <span class="input-group-btn"><button type="button" ng-click="value.searchCustomerByContactNumber(value.customer.contactNumber)" 
			          class="btn btn-primary" data-toggle="modal" data-target="#modalCustomer">Search</button></span>			          
		          </div>
		        </div>
		        
		        <div class="col-sm-3 form-group">
		          <label for="txtEmail">Email</label>
		          <div class="input-group">
			          <input type="text" class="form-control" id="txtEmail" placeholder="Enter Email Here.." ng-model="value.customer.email">
			          <span class="input-group-btn"><button type="button" ng-click="value.searchCustomerByEmail(value.customer.email)" 
			          class="btn btn-primary" data-toggle="modal" data-target="#modalCustomer">Search</button></span>			          
		          </div>
		        </div>		        
	        </div> 
         </div> 
                        	
        <div class="col-sm-12 form-group">
          <label for="txtAddress">Address</label>
          <textarea class="form-control" id="txtAddress" placeholder="Enter Address Here.." rows="3" ng-model="value.customer.address"></textarea>
        </div>  
           

    	<div class="col-sm-12">
    		<div class="row">        
    			<div class="col-sm-4 form-group">
		          <label for="txtBookingType">Guest Type</label>
				  <select class="form-control" id="txtBookingType" name="txtBookingType" placeholder="Please Select type..." ng-model="value.selectedBookingType" ng-options="b.bookingTypeName for b in value.bookingTypes">
				  </select>		       
		        </div>                          
		        <div class="col-sm-4 form-group">
		          <label for="txtDateOfCheckin">Date of Checkin</label>
		          <input type="text" class="form-control" id="txtDateOfCheckin" name="txtDateOfCheckin" placeholder="DD/MM/YYYY" ng-model="value.checkin.dateOfCheckin" disabled>
		        </div>
		        <div class="col-sm-4 form-group">
		          <label for="txtExpectedDateOfLeave">Expected Leaving</label>
		          <input type="text" class="form-control" id="txtExpectedDateOfLeave" name="txtExpectedDateOfLeave" placeholder="DD/MM/YYYY" ng-model="value.checkin.expectedDateOfLeave">
		        </div>    
 	        </div> 
        </div>      
             
    	<div class="col-sm-12">   	
    		<div class="row">                      
		        <div class="col-sm-4 form-group">
		          <label for="txtroomNumber">Room Number</label>
		          <div class="input-group">
		          <input type="text" class="form-control" id="txtroomNumber" ng-model="value.checkin.roomNumber">
		          <span class="input-group-btn"><button type="button" ng-click="value.searchAvailableRooms()" 
			          class="btn btn-primary" data-toggle="modal" data-target="#modalCustomer">Search</button></span>	
		          </div>
		        </div>    
		        <div class="col-sm-4 form-group">
		          <label for="txtFullPrice">Orinal Price</label>
		          <input type="text" class="form-control" id="txtFullPrice" ng-model="value.room.price"  disabled>
		        </div>		
		        <div class="col-sm-4 form-group">
		          <label for="txtPrice">Real Price</label>
		          <input type="text" class="form-control" id="txtPrice" ng-model="value.checkin.price">
		        </div>			        		                          
 	        </div> 
         </div>       
         
    	<div class="col-sm-12">
    		<div class="row">               	        
		        <div class="col-sm-6 form-group">
		          <label for="txtCreditCardNumber">Credit Card Number</label>
		          <input type="text" class="form-control" id="txtCreditCardNumber" ng-model="value.checkin.creditCardNumber">
		        </div>              
		        <div class="col-sm-3 form-group">
		          <label for="txtCreditCardNumber">Expiry Date</label>
		          <input type="text" class="form-control" id="txtCreditCardNumber" ng-model="value.checkin.creditCardExpiryDate">
		        </div>        
		        <div class="col-sm-3 form-group">
		          <label for="txtCreditCardCVV">CVV</label>
		          <input type="text" class="form-control" id="txtCreditCardCVV" ng-model="value.checkin.creditCardCVV" >
		        </div>  
		        
	        </div> 
         </div> 
         		          
        <div class="col-sm-12 form-group">
        	<div class="row">  
        		<div class="col-sm-6 form-group">
		          <label for="txtCarRego">Car Rego.</label>
		          <input type="text" class="form-control" id="txtCarRego" placeholder="Enter Your Car Rego Number Here.." ng-model="value.checkin.carRego">
		        </div>
	        </div> 
        </div>                      
         
    	<div class="col-sm-12">
    		<div class="row">          
		        <div class="col-sm-4 form-group">
		          <label for="txtMeal">Meal Required</label>
		          <div class="input-group form-control">
				      <label class="checkbox-inline"><input id="txtBreakfase" type="checkbox" ng-model="value.checkin.breakfast">Breakfase</label>
					  <label class="checkbox-inline"><input id="txtDinner" type="checkbox" ng-model="value.checkin.dinner">Dinner</label>
				  </div>
		        </div>           		                  
		        <div class="col-sm-4 form-group">
		          <label for="txtNumberOfAdults">Number of Adults</label>
		          <input type="text" class="form-control" id="txtNumberOfAdults" ng-model="value.checkin.numberOfAdults">
		        </div>
		        <div class="col-sm-4 form-group">
		          <label for="txtNumberOfChildren">Number of Children</label>
		          <input type="text" class="form-control" id="txtNumberOfChildren" ng-model="value.checkin.numberOfChildren">
		        </div>     
 	        </div> 
         </div>
         
    	<div class="col-sm-12">
    		<div class="row">           		  
		        <div class="col-sm-4 form-group">
		          <label for="txtBranch">Branch</label>
		          <input type="text" class="form-control" id="txtBranch" ng-model="value.checkin.txtBranch">
		        </div>                 
		        <div class="col-sm-4 form-group">
		          <label for="txtRefeem">Refeem</label>
		          <input type="text" class="form-control" id="txtRefeem" ng-model="value.checkin.txtRefeem">
		        </div>             
 	        </div> 
         </div>           
      		                             
        <button ng-click="value.saveCheckIn()" class="btn btn-default btn-success"> Check In </button>
    </form>
    <!-- end of entry-->  
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="modalCustomer" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Search Customer</h4>
        </div>
        <div class="modal-body">
        
          <!-- customer search list-->
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
		        <th>First Name</th>
		        <th>Last Name</th>
		        <th>Contact Number</th>
		        <th>Email</th>
				<th>Address</th>
        		<th></th>				
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cus in value.search.customers ">
		        <td>{{cus.firstName}}</td>
		        <td>{{cus.lastName}}</td>
		        <td>{{cus.contactNumber}}</td>
		        <td>{{cus.email}}</td>
		        <td>
		        	<button ng-click="value.selectCustomer(cus)" class="btn btn-default">Select</button>
		        </td>		        
              </tr>
            </tbody>
          </table>
          <!-- end of customer search list-->
          
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
		        <th>Room</th>
		        <th>Date Of Arrive</th>
		        <th>Date Of Leave</th>
		        <th>Car Rego.</th>
        		<th></th>				
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="b in value.search.bookings ">
		        <td>{{b.firstName}}</td>
		        <td>{{b.lastName}}</td>
		        <td>{{b.contactNumber}}</td>
		        <td>{{b.email}}</td>
		        <td>
		        	<button ng-click="value.selectBooking(b)" class="btn btn-default" data-dismiss="modal">Select and Close</button>
		        </td>		        
              </tr>
            </tbody>
          </table>          
          
          
          <!-- customer search list-->
          <!-- end of customer search list-->          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-success btn-block" data-dismiss="modal"><span class="glyphicon glyphicon-off"></span>Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end if modal-->    
</div>

  <script>
/*
 * Date Picker
 */
$(document).ready(function(){
	var date_input = $('input[name="txtExpectedDateOfLeave"]');
	var container = $('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
	
	date_input.datepicker({
		format : 'dd/mm/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
	});

})
</script>
